.DS_Store
node_modules
/dist
dist_electron/*
!dist_electron/.keep
sql.db
test.js
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json


db/data/*
!db/data/.keep


db/seeders/materials/*
!db/seeders/materials/.keep
!db/seeders/materials/migration_object/.keep
!db/seeders/materials/data_table/.keep

output/*
!output/.keep

prod.db

upload/*
!upload/.keep
!upload/templates

input/*
